<!DOCTYPE html>
<html lang="en">
    <main>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Välkommen</title>
    </head>
    <body>
        <div class="div-container">
            <p>Välkommen till vår webbplats där du kan hitta information om alla program som erbjuds på Högskolan Dalarna.</p>
        </div>
        <div class="div-container">
            {% block content %}
            
            {% endblock %}
        </div>
        <footer>
            <p style="text-align: center; padding: 20px; background-color: #333; color: white;">&copy; 2024 Högskolan Dalarna</p>
        </footer>
    </body>
    </main>
</html>