<!DOCTYPE html>
<html lang="en">
    <main>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Välkommen</title>
    </head>
    <body>
        <header>
            <h1 style="text-align: center; padding: 20px; background-color: #333; color: white;">Välkommen till Ruffson och något!</h1>
        </header>
        <div class="div-container">
            <p>Vad vill du göra? </p>
        </div>
        <div class="div-container">
            {% block content %}
            
            {% endblock %}
        </div>
        <footer>
            <p style="text-align: center; padding: 20px; background-color: #333; color: white;">&copy; 2026 Ruffson och båg</p>
        </footer>
    </body>
    </main>
</html>